<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JersonDavidPerezContreras/blob/main/Actividad_Semanal_6%2C_visualizaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# TECNOLOGICO DE MONTEREY





#Maestria en inteligencia artificial aplicada





##Ciencia y Analitica de datos





## Profesora:

María de la Paz Rico Fernández





# Presentado por: 

Jerson David Perez Contreras

A01793810

In [1]:
# lIBRERIAS

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import RobustScaler, MinMaxScaler, StandardScaler
from sklearn.decomposition import PCA

##1. Descarga los datosEnlaces a un sitio externo. y carga el dataset en tu libreta.


df = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv')
col_names = ['ID', 'Amount_Credit', 'Gender', 'Education', 'Marital_status', 'Age', 'Repayment_status_September', 'Repayment_status_August', 
       'Repayment_status_July', 'Repayment_status_June', 'Repayment_status_May', 'Repayment_status_April','Amount_bill_statement_September_2005',
        'Amount_bill_statement_August_2005', 'Amount_bill_statement_July_2005', 'Amount_bill_statement_June_2005', 'Amount_bill_statement_May_2005',
        'Amount_bill_statement_April_2005','Amount_paid_September_2005', 'Amount_paid_August_2005', 'Amount_paid_July_2005', 'Amount_paid_June_2005', 
        'Amount_paid_May_2005','Amount_paid_April_2005', 'y']
df.columns = col_names

df.head()

,ID,Amount_Credit,Gender,Education,Marital_status,Age,Repayment_status_September,Repayment_status_August,Repayment_status_July,Repayment_status_June,...,Amount_bill_statement_June_2005,Amount_bill_statement_May_2005,Amount_bill_statement_April_2005,Amount_paid_September_2005,Amount_paid_August_2005,Amount_paid_July_2005,Amount_paid_June_2005,Amount_paid_May_2005,Amount_paid_April_2005,y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [6]:
## 2.  Obten la información del DataFrame con los métodos y propiedades: shape, columns, head(), dtypes, info(), isna()

print( "Tamaño de Data: ")
print(df.shape)
print( "\n")
print( "Columnas: ")
print( df.columns)

print( "\n")
print( "Encabezado Datos: ")
print( df.head())

Tamaño de Data:
(30000, 25)


Columnas:
Index(['ID', 'Amount_Credit', 'Gender', 'Education', 'Marital_status', 'Age',
       'Repayment_status_September', 'Repayment_status_August',
       'Repayment_status_July', 'Repayment_status_June',
       'Repayment_status_May', 'Repayment_status_April',
       'Amount_bill_statement_September_2005',
       'Amount_bill_statement_August_2005', 'Amount_bill_statement_July_2005',
       'Amount_bill_statement_June_2005', 'Amount_bill_statement_May_2005',
       'Amount_bill_statement_April_2005', 'Amount_paid_September_2005',
       'Amount_paid_August_2005', 'Amount_paid_July_2005',
       'Amount_paid_June_2005', 'Amount_paid_May_2005',
       'Amount_paid_April_2005', 'y'],
      dtype='object')


Encabezado Datos:
   ID  Amount_Credit  Gender  Education  Marital_status   Age  \
0   1          20000     2.0        2.0             1.0  24.0
1   2         120000     2.0        2.0             2.0  26.0
2   3          90000     2.0        2.0             2.0  34.0
3   4          50000     2.0        2.0             1.0  37.0
4   5          50000     1.0        2.0             1.0  57.0

   Repayment_status_September  Repayment_status_August  Repayment_status_July  \
0                         2.0                      2.0                   -1.0
1                        -1.0                      2.0                    0.0
2                         0.0                      0.0                    0.0
3                         0.0                      0.0                    0.0
4                        -1.0                      0.0                   -1.0

   Repayment_status_June  ...  Amount_bill_statement_June_2005  \
0                   -1.0  ...                              0.0
1                    0.0  ...                           3272.0
2                    0.0  ...                          14331.0
3                    0.0  ...                          28314.0
4                    0.0  ...                          20940.0

   Amount_bill_statement_May_2005  Amount_bill_statement_April_2005  \
0                             0.0                               0.0
1                          3455.0                            3261.0
2                         14948.0                           15549.0
3                         28959.0                           29547.0
4                         19146.0                           19131.0

   Amount_paid_September_2005  Amount_paid_August_2005  Amount_paid_July_2005  \
0                         0.0                    689.0                    0.0
1                         0.0                   1000.0                 1000.0
2                      1518.0                   1500.0                 1000.0
3                      2000.0                   2019.0                 1200.0
4                      2000.0                  36681.0                10000.0

   Amount_paid_June_2005  Amount_paid_May_2005  Amount_paid_April_2005    y
0                    0.0                   0.0                     0.0  1.0
1                 1000.0                   0.0                  2000.0  1.0
2                 1000.0                1000.0                  5000.0  0.0
3                 1100.0                1069.0                  1000.0  0.0
4                 9000.0                 689.0                   679.0  0.0

[5 rows x 25 columns]

In [7]:
print( "Tipos de variables: ")
print(df.dtypes)

Tipos de variables:
ID                                        int64
Amount_Credit                             int64
Gender                                  float64
Education                               float64
Marital_status                          float64
Age                                     float64
Repayment_status_September              float64
Repayment_status_August                 float64
Repayment_status_July                   float64
Repayment_status_June                   float64
Repayment_status_May                    float64
Repayment_status_April                  float64
Amount_bill_statement_September_2005    float64
Amount_bill_statement_August_2005       float64
Amount_bill_statement_July_2005         float64
Amount_bill_statement_June_2005         float64
Amount_bill_statement_May_2005          float64
Amount_bill_statement_April_2005        float64
Amount_paid_September_2005              float64
Amount_paid_August_2005                 float64
Amount_paid_July_2005                   float64
Amount_paid_June_2005                   float64
Amount_paid_May_2005                    float64
Amount_paid_April_2005                  float64
y                                       float64
dtype: object

In [8]:
print( "Detalle de variables: ")

df.info()

Detalle de variables:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    30000 non-null  int64
 1   Amount_Credit                         30000 non-null  int64
 2   Gender                                29999 non-null  float64
 3   Education                             29998 non-null  float64
 4   Marital_status                        29998 non-null  float64
 5   Age                                   29995 non-null  float64
 6   Repayment_status_September            29997 non-null  float64
 7   Repayment_status_August               29995 non-null  float64
 8   Repayment_status_July                 29993 non-null  float64
 9   Repayment_status_June                 29991 non-null  float64
 10  Repayment_status_May                  29984 non-null  float64
 11  Repayment_status_April                29986 non-null  float64
 12  Amount_bill_statement_September_2005  29989 non-null  float64
 13  Amount_bill_statement_August_2005     29989 non-null  float64
 14  Amount_bill_statement_July_2005       29987 non-null  float64
 15  Amount_bill_statement_June_2005       29985 non-null  float64
 16  Amount_bill_statement_May_2005        29983 non-null  float64
 17  Amount_bill_statement_April_2005      29990 non-null  float64
 18  Amount_paid_September_2005            29992 non-null  float64
 19  Amount_paid_August_2005               29991 non-null  float64
 20  Amount_paid_July_2005                 29992 non-null  float64
 21  Amount_paid_June_2005                 29989 non-null  float64
 22  Amount_paid_May_2005                  29989 non-null  float64
 23  Amount_paid_April_2005                29995 non-null  float64
 24  y                                     29997 non-null  float64
dtypes: float64(23), int64(2)
memory usage: 5.7 MB

In [9]:
print( "Contiene nulos?: ")

df.isna()

Contiene nulos?:

,ID,Amount_Credit,Gender,Education,Marital_status,Age,Repayment_status_September,Repayment_status_August,Repayment_status_July,Repayment_status_June,...,Amount_bill_statement_June_2005,Amount_bill_statement_May_2005,Amount_bill_statement_April_2005,Amount_paid_September_2005,Amount_paid_August_2005,Amount_paid_July_2005,Amount_paid_June_2005,Amount_paid_May_2005,Amount_paid_April_2005,y
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False