<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JersonDavidPerezContreras/blob/main/Semana_2_Actividad_1_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Semana 2 - Actividad 1: Python for Data Science (IBM)

Jerson David Perez Contreras

In [1]:
# Cargando Datos con Pandas

import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [8]:
# pregunta 1
df.iloc[1,0]

21

In [9]:
#Pregunta 2

import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [11]:
#Working with and Saving Data with Pandas

# Pregunta 1

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [13]:
# Pregunta 2
df.to_csv("file.csv")